.settings/
*.log
/target
/docs
/*.zip
/plugin.xml

.svn/dir-props

.svn/entries

grails-app/.svn/entries

grails-app/conf/.svn/entries

grails-app/controllers/.svn/entries

web-app/js/.svn/entries

web-app/js/jquery/.svn/entries

*.svn-work

web-app/images/.svn/entries

web-app/css/gradient/.svn/entries

web-app/css/.svn/entries

web-app/.svn/entries

src/java/grails/plugin/p6spy/ui/.svn/entries

src/java/grails/plugin/p6spy/.svn/entries

src/java/grails/plugin/.svn/entries

src/java/grails/.svn/entries

src/java/.svn/entries

src/.svn/entries

grails-app/controllers/grails/.svn/entries

grails-app/controllers/grails/plugin/.svn/entries

grails-app/controllers/grails/plugin/p6spy/.svn/entries

grails-app/controllers/grails/plugin/p6spy/ui/.svn/entries

grails-app/services/.svn/entries

grails-app/services/grails/.svn/entries

grails-app/services/grails/plugin/.svn/entries

grails-app/services/grails/plugin/p6spy/.svn/entries

grails-app/services/grails/plugin/p6spy/ui/.svn/entries

grails-app/taglib/.svn/entries

grails-app/taglib/grails/.svn/entries

grails-app/taglib/grails/plugin/.svn/entries

grails-app/taglib/grails/plugin/p6spy/.svn/entries

grails-app/taglib/grails/plugin/p6spy/ui/.svn/entries

grails-app/views/.svn/entries

grails-app/views/layouts/.svn/entries

grails-app/views/p6spy/.svn/entries

src/groovy/.svn/entries

src/groovy/grails/.svn/entries

src/groovy/grails/plugin/.svn/entries

src/groovy/grails/plugin/p6spy/.svn/entries

src/groovy/grails/plugin/p6spy/ui/.svn/entries
